/** 全体調整 */
html {
  height: 100vh;
}
body {
  font-size: 14px;
  transform: rotate(0.01deg); /* enable antialias for font. */
  font-family: "Noto Sans Japanese", "Consolas";
  font-weight: 500;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  /** グリッドで４分割 */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr;
}

[v-cloak] {
  visibility: hidden;
}

/** ヘッダー */
header {
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}
header > * {
  margin-right: 20px;
}

/** サイドメニュー */
aside {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-right: 20px;
}

/** メインコンテンツ親要素 */
section {
  grid-column: 2;
  grid-row: 2;
  overflow-x: hidden;
  padding-left: 3px;
  -webkit-overflow-scrolling: touch;  /* 慣性スクロールらしい */
}

/** メインコンテンツ子要素 */
article {
  margin-bottom: 20px;
  margin-right: 10px;
}

/** コンテンツ */
pre {
  white-space: pre-line;
}

/** 区切り */
hr.timeline--action-border {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, mediumpurple, gray, rebeccapurple);
  background-image: -moz-linear-gradient(left, mediumpurple, gray, rebeccapurple);
  background-image: -ms-linear-gradient(left, mediumpurple, gray, rebeccapurple);
  background-image: -o-linear-gradient(left, mediumpurple, gray, rebeccapurple);
}
hr.timeline--footer-border {
  border: 0.5px dotted purple;
}
hr.timeline--inner-tweet-border {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, white, mediumpurple, white);
  background-image: -moz-linear-gradient(left, white, mediumpurple, white);
  background-image: -ms-linear-gradient(left, white, mediumpurple, white);
  background-image: -o-linear-gradient(left, white, mediumpurple, white);
}

.header--app-info {
  position: absolute;
  right: 0;
}
.header--app-info > a {
  color: gray;
  text-decoration: none;
}
.header--side-menu {
  display: none;
}

.user--actions {
  margin-left: 10px;
}
.user--actions > span > svg {
  width: 15px;
  height: 15px;
}

.timeline--tweet {
  box-shadow: 0px 1px 10px 1px darkgrey;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.timeline--quote {
  margin: 5px 5px 5px 5px;
  padding: 5px;
}
.timeline--user-screen_name {
  color: gray;
  margin-left: 5px;
}
.timeline--retweet {
  font-size: 10px;
  margin-bottom: 10px;
}
.timeline--media {
  display: flex;
  margin-bottom: 20px;
}
.timeline--media > div {
  width: 25%;
  border: solid #e6ecf0 1px;
  border-radius: 4px;
  overflow: hidden;
  max-height: 200px;
  margin-right: 5px;
}

.timeline--footer {
  color: gray;
  font-size: 10px;
}
.timeline--footer--source > a {
  color: gray;
  text-decoration: none;
}

/** タイムラインアクション */
.timeline--actions {
  color: gray;
}
.timeline--actions > span {
  margin-right: 5vw;
}
.timeline--actions > span > svg {
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

/** メディア系のモザイク表示 */
img.is-filtered {
  -webkit-filter: blur(32px);
  filter: blur(32px);
  -webkit-transition: .1s;
  transition: .1s;
}
img.is-filtered:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: 1s;
  transition: 1s;
}
video.is-filtered {
  -webkit-filter: blur(32px);
  filter: blur(32px);
  -webkit-transition: .1s;
  transition: .1s;
}
video.is-filtered:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: 1s;
  transition: 1s;
}

/** ユーザーアカウント */
.l-user > div {
  margin-bottom: 5px;
}

/** ツイート入力欄 */
.tweet-editor-container {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 90vw;
}
.tweet-editor-container--tweet-action {
  position: relative;
  right: 1vw;
  display: block;
  text-align: right;
  z-index: 999;
  top: -44px;
}
.tweet-editor-container--tweet-counter {
  position:relative;
  right: 5vw;
  top: -24px;
  z-index: 999;
  text-align: right;
  display: block;
  font-weight: bold;
}
.tweet-editor {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  position: relative;
  box-shadow: 0 0 3px 1px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
}

.icon { /* Customizes all icons at once */
  display: inline-block;
}

.is-text-invalid {
  color: red;
}
svg.is-text-invalid {
  opacity: 0.5;
  fill: red;
}

.is-action-disabled {
  color: lightslategray;
}

.is-favorited {
  color: red;
  fill: red;
}

.is-retweeted {
  color: green;
  fill: green;
}
