/* フォント調整 */
body {
  font-size: 12px;
  grid-template-rows: 50px 1fr;
}
.l-header {
  font-size: 10px;
}

/* サイドメニューは隠す＆フローティングメニューっぽくみせる */
aside {
  display: none;
  z-index: 1;
  background-color: white;
  border-right: 1px solid;
  box-shadow: black 1px 0px 5px;
  padding: 5px;
  animation-duration: 1s;
  animation-name: slideLeftToRight;
  animation-iteration-count: 1;
}
/* サイドメニュー部分をタイムラインが奪う */
section {
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 0;
}

.header--side-menu {
  display: unset;
}

/* ツイート入力欄調整 */
.tweet-editor-container--tweet-action {
  right: 2vw;
  top: -41px;
}
.tweet-editor-container--tweet-counter {
  right: 12vw;
}

/* 左から右にスライド表示 */
@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}